.contenedor-imagen{
    width: 100%;
}

.imagen_sabermasexp{
    width: 100%;
    padding-right: 20px;

}

.title {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  :root {
    --clr-primary: #12e7c0;
    --clr-graylight: #f3f3f3;
    --clr-graymed: #c4c4c4;
    --border-radius: 0.5rem;
  }

  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .exp_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
    margin-top: 1rem;
  }

  
  .testimonial-container {
    box-shadow: 0px 0px 20px var(--clr-graymed);
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 300px;
    position: relative;
    margin: 0.5rem;
    background: white;
  }
  
  .quote {
    margin-bottom: 4rem;
    line-height: 2rem;
  }
  
  .quote::before,
  .quote::after {
    color: var(--clr-primary);
    font-size: 80px;
    display: block;
    position: relative;
  }
  
  .quote::before {
    content: open-quote;
    top: 0.5rem;
  }
  
  .quote::after {
    content: close-quote;
    top: 1rem;
    left: 13rem;
  }
  
  .signature {
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
  
  .name {
    font-size: 1.5rem;
    position: relative;
  }
  
  .name::before {
    content: "";
    width: 20px;
    height: 4px;
    background-color: var(--clr-primary);
    display: inline-block;
    position: relative;
    top: -6px;
    right: 6px;
  }
  
.saber_btn{
    padding: 0.6rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
    border: 3px solid;
    border-color: #1888ff;
    background: transparent;
    color: black;
    border-radius: 2px;
    transition: background 200ms ease-in, color 200ms ease-in;
}


.saber_btn:hover{
  background: brown;
  color: #ffff;
}

/* modal */
body.active_modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal_content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 28px;
    border-radius: 1rem;
    width: 24rem;
    padding: 2rem;
 
    
}

.title_modal{
    text-align: center;
    margin-bottom: 0.5rem;
  }

.parr_modal{
    line-height: 1.5rem;
    border-top: 1px solid;
    padding: 1rem 0;
  }

.form_group{
    position: relative;
    height: 3rem;
    margin-bottom: 1.5rem;

}

.form_input{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color:#cfd8dc;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    padding: 1.25rem;
    background: none;
}

.form_input:hover {
    border-color: #9DEDFF;
}

.form_input:focus {
    border-color: #7BDFF6;
}

.form_label {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    padding: 0 0.5rem;
    background-color: white;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
    top: -0.5rem;
    left: 0.8rem;
    font-size: 0.8rem;
}

.close_modal {
    padding: 0.6rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
    border: 3px solid;
    border-color: #1888ff;
    background: transparent;
    color: black;
    border-radius: 1rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}


.close_modal:hover{
  background: brown;
  color: #ffff;
};

/*     position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 7px; */

/*    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;*/