.contenedor-imagen{
    width: 100%;
}

.imagen_sabermas{
    width: 100%;
}

.imagen_sabermasfest{
    width: 100%;
    padding-right: 20px;
}


.title{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.contenedor-saber{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
}

.exp_btn{
    padding: 0.6rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 0rem;
    border: 3px solid;
    border-color: #1888ff;
    background: transparent;
    color: black;
    border-radius: 2px;
    transition: background 200ms ease-in, color 200ms ease-in;
}


.exp_btn:hover{
    background: brown;
    color: #ffff;
}
